@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Junge&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #00074A;
  background-image: url("../bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


canvas {
  display: block;
  margin: auto
}

h1{
  font-family: "Junge", cursive;
  font-style: normal;
  color: white;
  font-size: 80px;
  text-align: center;
  font-weight: 400;
}

h3{
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #FFD039;
  font-size: 60px;
  text-align: center;
}

a{
  text-decoration: none;
}

h2{
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #FFD039;
  font-size: 90px;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 20%;
}

p{
  font-family: "Junge", cursive;
  font-style: normal;
  color: #90C6EC;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
}

.floating {
  width: 500px;
  border-radius: 50%;
  position: relative;
  animation: float 3s ease-in-out infinite;
  display: flex;
  justify-content: center; /* horizontal alignment */
  align-items: center;     /* vertical alignment */
  height: 100vh;   
  margin: 0 auto; /* optional: center horizontally */
  }

@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }